.header {
  width: 100%;
  padding: 20px 0;
  color: white;
  text-align: center;
  color: navy;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}