.navbar {
  background-color: #0f172a;
  padding: 30px 0;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.menu li {
  color: #cbd5e1;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.menu li:hover {
  color: #ffffff;
  text-decoration: underline;
}
